<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983484100085-du0blavqjibu73flfpn12a6di6o6ab5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983484100085-du0blavqjibu73flfpn12a6di6o6ab5g</string>
	<key>API_KEY</key>
	<string>AIzaSyAovA-_T_EEcAF2SGcMVfAuW5gOTVE95Rk</string>
	<key>GCM_SENDER_ID</key>
	<string>983484100085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slotGame.777</string>
	<key>PROJECT_ID</key>
	<string>casinogamerb-ebf96</string>
	<key>STORAGE_BUCKET</key>
	<string>casinogamerb-ebf96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983484100085:ios:7e74fceecc6d7b6e5dc4bc</string>
</dict>
</plist>