<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293693631663-utj442n27iqfe72fk1l6vntlfk1f4os5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293693631663-utj442n27iqfe72fk1l6vntlfk1f4os5</string>
	<key>API_KEY</key>
	<string>AIzaSyCCG67jHN9Ro7EWl5f6H6iNqHqKXBWGymk</string>
	<key>GCM_SENDER_ID</key>
	<string>293693631663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casinoGame</string>
	<key>PROJECT_ID</key>
	<string>casinorb-4dceb</string>
	<key>STORAGE_BUCKET</key>
	<string>casinorb-4dceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293693631663:ios:a4f15e531f257b11cd385a</string>
</dict>
</plist>